<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>DevExtreme Vue filter</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <script src="Scripts/iqery.min.js"></script>
    <script src="Scripts/dx.all.js"></script>
    <script src="Scripts/dx.aspnet.data.js"></script>

    <link rel="stylesheet" type="text/css" href="Content/dx.common.css" />
    <link rel="stylesheet" type="text/css" href="Content/grey.css" />
    <script src="js/data.js"></script>
    <script src="js/Filter.js"></script>
    <!--<link rel="stylesheet" type="text/css" href="styles.css" />-->
    <script src="js/VueX.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>

<body>
    <div>
        <div id="app">
            <div>
                <button @click='createFilter()'>filrer</button>
                <div v-for="column in columns" v-key="column.Caption">
                    <input type="checkbox" v-model="column.IsChecked"></input>
                    {{column.Caption}}
                     <input type="text" v-model="column.Value" ></input>
                </div>
            </div>
        </div>

        <br />
        <button onclick='setFilter([10553,10561,10563,10583],"OrderID")'>id</button>
        <button onclick='setFilter(["Switzerland"],"ShipCountry")'>Switzerland</button>
        <button onclick='setFilter(["Belgium"],"ShipCountry")'>Belgium</button>
        <button onclick='setFilter(["Brazil"],"ShipCountry")'>Brazil</button>
        <button onclick='setFilter(["Germany","Brazil"],"ShipCountry")'>Germany+>Brazil</button>

        <button onclick='clearFilter()'>FilterClear</button>
        <div id="grid"></div>
    </div>
</body>
<script>

    function setFilter(valueAr, fieldName) {
        var dataGrid = $('#grid').dxDataGrid('instance');
        var oldFilter = dataGrid.getCombinedFilter();
        var filter = FilterHelper.ApplyInCon(oldFilter, fieldName, valueAr)
        dataGrid.filter(filter);
        dataGrid.refresh();
        console.time("x");
        var filterObj = FilterHelper.CreateFilterItems(filter);
       console.log(getValues(fieldName, filterObj));
    }

    function getValues(fieldName, filterObj) {
            var res='';
             if(filterObj==null)return res;
             
            if (filterObj.constructor.name == 'FilterItem' && filterObj.Name==fieldName) {
               if(res.length>0)res+=','
                res+=filterObj.Vaue;
            } else {
                if (filterObj.constructor.name == 'FilterGroupItem') {
                     for (var i = 0; i < filterObj.Items.length; i++)
                     {
                         var fi=filterObj.Items[i]
                    getValues(fieldName, fi)
                }
            }
        }
        return res;
    }
    var filterInit = false;

    function HideFilter() {
        var modal = document.getElementById('filterPopup');
        modal.style.display = "none";
    }

    var filerElem;
    function ShowFilter() {

        if (filterInit == false) {
            filterInit = true;
            var dataGrid = $('#grid').dxDataGrid('instance');
            filerElem = document.getElementById("filter")
            filerElem = new FilterElements(dataGrid, filerElem);
            filerElem.CreateFilter(colunmDescription);
        } else {
            var dataGrid = $('#grid').dxDataGrid('instance');
            filerElem.SetCombinedFilter();
        }
        //  var modal = document.getElementById('filterPopup');
        //  modal.style.display = "block";

    }

    function FilterFind() {
        filerElem.FilterFind();
    }

    function StrFilter() {
        var dataGrid = $('#grid').dxDataGrid('instance');
        var f = dataGrid.getCombinedFilter();
        alert(f);
        dataGrid.clearFilter();
        f = dataGrid.getCombinedFilter(false);
        alert(f);
    }
</script>
<script>


    new Vue({
        el: "#app",
        components: {
        },
        data: {
            res: '',
            columns: [{}, 'JavaScript'],
            options: ['sssipt', 'Vue.js', 'JavaScript', 'Vue-Multiselect', 'JavaScript', 'Vuelidate']
        },
        computed: {
            fullName: {
                // геттер:
                get: function () {
                    return this.columns.join(';');
                },
                // сеттер:
                set: function (newValue) {

                    this.columns = newValue.split(';')
                }
            }
        },
        methods: {
            createFilter: function () {
                var dataGrid = $('#grid').dxDataGrid('instance');
                this.columns = [];
                for (var i = 0; i < colunmDescription.length; i++) {
                    var column = colunmDescription[i];
                    if (!column.filter) continue;
                    var fe = new FilterElement(column);
                    this.columns.push(fe);
                }
                var filterArr = dataGrid.getCombinedFilter();
                var filterObjs = FilterHelper.CreateFilterItems(filtrArr);
                  getValues('fieldName', filterObjs);

            }



        }
    });
    
</script>
<script>

</script>

</html>